*{
    margin: 0;
 padding: 0;
}
body{
    background-color: #596157;
    text-align: center;
}
.container{
         height:70vh ;
         display:flex;
         justify-content: center;
         align-items: center;
         gap: 1.5vmin;

}
.game{
       height:60vmin;
       width: 60vmin;
       display:flex;
       flex-wrap: wrap;
       justify-content: center;
       align-items: center;
       gap: 1.5vmin;
}
.box{
    height:18vmin;
    width: 18vmin;
    border-radius: 1rem ;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0, 0.8);
    font-size: 8vmin;
    color: #D81E5B;
    background-color:#F7FFF7;
}
#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: black;
    color: whitesmoke;
    border-radius: 1rem;
    border :none;
}
#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: black;
    color: whitesmoke;
    border-radius: 1rem;
    border :none;
}
#msg{
    color:#F7FFF7;
    font-size: 5vmin;
}
.msg-container{
    height: 18vmin;
}
.hide{
    display: none;
}
#N1{
 background-color: darkcyan;
 color: blue;
}
#N2{
    background-color: black;
    color: blue;
}